# 데이콘 소득 예측 경진대회

- 예측이지만, binary classification 문제

In [2]:
import matplotlib.pyplot as plt
import numpy as np
from glob import glob
import pandas as pd
import sys
from catboost import CatBoostClassifier
from tqdm.auto import tqdm

In [58]:
train=pd.read_csv("./data/train_cat_modified.csv")
train.head()

,age,workclass,fnlwgt,education_num,marital_status,occupation,race,sex,capital_gain,capital_loss,hours_per_week,target,education1,education2,education3,country_group1,country_group2,country_group3,country_group4,age_group
0,3.465736,Private,309513,12,Married-civ-spouse,Craft-repair,White,Male,0,0,40,0,0,1,0,0,0,1,0,1
1,3.496508,Private,205469,10,Married-civ-spouse,Exec-managerial,White,Male,0,0,40,1,0,1,0,0,0,1,0,1
2,3.828641,Private,149949,10,Married-civ-spouse,Craft-repair,White,Male,0,0,40,0,0,1,0,0,0,1,0,1
3,3.135494,Private,193090,13,Never-married,Adm-clerical,White,Female,0,0,30,0,0,1,0,0,0,1,0,0
4,4.007333,Private,60193,9,Divorced,Adm-clerical,White,Female,0,0,40,0,0,1,0,0,0,1,0,1

In [59]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16707 entries, 0 to 16706
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16707 non-null  float64
 1   workclass       16707 non-null  object
 2   fnlwgt          16707 non-null  int64
 3   education_num   16707 non-null  int64
 4   marital_status  16707 non-null  object
 5   occupation      16707 non-null  object
 6   race            16707 non-null  object
 7   sex             16707 non-null  object
 8   capital_gain    16707 non-null  int64
 9   capital_loss    16707 non-null  int64
 10  hours_per_week  16707 non-null  int64
 11  target          16707 non-null  int64
 12  education1      16707 non-null  int64
 13  education2      16707 non-null  int64
 14  education3      16707 non-null  int64
 15  country_group1  16707 non-null  int64
 16  country_group2  16707 non-null  int64
 17  country_group3  16707 non-null  int64
 18  country_group4  16707 non-null  int64
 19  age_group       16707 non-null  int64
dtypes: float64(1), int64(14), object(5)
memory usage: 2.5+ MB

In [60]:
train[['workclass','marital_status','occupation','race','sex']]=train[['workclass','marital_status','occupation','race','sex']].astype('category')

cat_features = ['workclass','marital_status','occupation','race','sex']

In [61]:
test=pd.read_csv("./data/test_cat_modified.csv")
test.head()

,age,workclass,fnlwgt,education_num,marital_status,occupation,race,sex,capital_gain,capital_loss,hours_per_week,education1,education2,education3,country_group1,country_group2,country_group3,country_group4,age_group
0,3.850148,Private,304133,10,Married-civ-spouse,Exec-managerial,White,Male,0,0,45,0,1,0,0,0,1,0,1
1,3.526361,Self-emp-inc,154227,10,Never-married,Sales,White,Male,0,0,75,0,1,0,0,0,1,0,1
2,3.433987,Local-gov,158291,13,Never-married,Craft-repair,White,Male,8614,0,40,0,1,0,0,0,1,0,1
3,3.332205,Private,183155,13,Married-civ-spouse,Prof-specialty,White,Male,0,0,55,0,1,0,0,0,1,0,1
4,3.988984,Local-gov,182543,10,Widowed,Adm-clerical,White,Female,0,0,40,0,1,0,0,0,0,1,1

In [62]:
test[['workclass','marital_status','occupation','race','sex']]=test[['workclass','marital_status','occupation','race','sex']].astype('category')

In [63]:
train_x=train.drop('target',axis=1)
train_y=train['target']

In [ ]:
# GridSearchCV 를 이용해 모델들을 최적화시켜줍니다.
from tqdm.auto import tqdm


classifier = CatBoostClassifier(verbose=True,task_type="GPU",cat_features=cat_features)

params = {
        'n_estimators':[50,100,200,500],
        'learning_rate': [0.03, 0.1],
        'depth': [4, 6, 10],
        'l2_leaf_reg': [5, 7, 9],
        #'one_hot_max_size'=[3,12,16]
        
}


grid_result = classifier.grid_search(params,
                      X=train_x,
                      y=train_y,
                      plot=True
                      )

In [13]:
grid_result

{'params': {'depth': 10,
  'l2_leaf_reg': 7,
  'iterations': 50,
  'learning_rate': 0.1},
 'cv_results': defaultdict(list,
             {'iterations': [0,
               1,
               2,
               3,
               4,
               5,
               6,
               7,
               8,
               9,
               10,
               11,
               12,
               13,
               14,
               15,
               16,
               17,
               18,
               19,
               20,
               21,
               22,
               23,
               24,
               25,
               26,
               27,
               28,
               29,
               30,
               31,
               32,
               33,
               34,
               35,
               36,
               37,
               38,
               39,
               40,
               41,
               42,
               43,
               44,
               45,
               46,
               47,
               48,
               49],
              'test-Logloss-mean': [0.5876980246865086,
               0.5144648242269333,
               0.45550254711722626,
               0.41449910942082663,
               0.3839488126234512,
               0.3614519488813634,
               0.3462933835859408,
               0.33460256647662656,
               0.3247060083348297,
               0.3168744674995885,
               0.3105354914154621,
               0.3056784344581425,
               0.30220340896125125,
               0.2989462132498728,
               0.2962431160731654,
               0.29349340319084066,
               0.291744254782333,
               0.28983631340671206,
               0.2880522982039713,
               0.28637169241840993,
               0.28511813910336986,
               0.2839443439454645,
               0.28271171655219374,
               0.28197157897419495,
               0.2812614128106856,
               0.2805911111126698,
               0.27985822161930635,
               0.2792637252419457,
               0.2784282227439285,
               0.27780374033900457,
               0.27739306181774487,
               0.2767409314770755,
               0.27618794353601783,
               0.275782430736368,
               0.2755861698478744,
               0.2752162471896136,
               0.2749110750616321,
               0.27481390542699174,
               0.2745373749237782,
               0.27411847654847143,
               0.273603913685132,
               0.27313024550899323,
               0.2727716918221965,
               0.27221958066557056,
               0.2721441772044465,
               0.27208302879687407,
               0.2717668968634966,
               0.2714179878054483,
               0.27132743058673015,
               0.27110816871997884],
              'test-Logloss-std': [0.001790555090799233,
               0.001959381444574078,
               0.0026775664428542816,
               0.0006290611017542117,
               0.0009599332342662923,
               0.0018406597673380353,
               0.001850213779416197,
               0.0008964002686797137,
               0.00032373726006003795,
               0.000557345855412292,
               0.0009248989127798818,
               0.0012807381630996879,
               0.0016858607976194965,
               0.001973813406898851,
               0.0022763412305132854,
               0.002139736211494113,
               0.002044184282698229,
               0.002015376934282451,
               0.0020713118970487597,
               0.002088913208772312,
               0.0020540973360270317,
               0.0018106158847811438,
               0.0018239295924018014,
               0.0018126793443740523,
               0.0018221027852679914,
               0.0016824602712297966,
               0.0015630064174991594,
               0.001705759668316302,
               0.00204559883147945,
               0.0021912504652805364,
               0.0022676297925969357,
               0.0020849665715725147,
               0.0019326609722083174,
               0.0019750117883120017,
               0.001987127323109051,
               0.0019781533768864,
               0.00200125667213835,
               0.0021029226852623925,
               0.0022593497905485844,
               0.0019506933471031339,
               0.001681285545009749,
               0.0016472915839166773,
               0.0013988983810736,
               0.0011423412520495699,
               0.001213273105601787,
               0.0012159406141543391,
               0.0012500108726983031,
               0.0015013561498658033,
               0.0014673204204344288,
               0.0015800170787794799],
              'train-Logloss-mean': [0.5874315552846486,
               0.5138711681013198,
               0.4545318298467708,
               0.4127780838729649,
               0.3817318924141078,
               0.3584701438534372,
               0.34310371488887514,
               0.33086224062378417,
               0.32055949017440294,
               0.3119977340383148,
               0.3052234198707877,
               0.29985454000147765,
               0.2957950500024316,
               0.29208655142445905,
               0.2891503830262016,
               0.28606849305539966,
               0.28397886733246175,
               0.281625482932865,
               0.2797315701081508,
               0.27779592234448885,
               0.27613057991457546,
               0.2746175276339072,
               0.27309864473676826,
               0.27213307126831193,
               0.2710636572969975,
               0.2699713665585533,
               0.26895108904809734,
               0.26804904591825285,
               0.26667734590104447,
               0.26560917404100826,
               0.26480540383288065,
               0.26385829398324806,
               0.2632009248555995,
               0.262002806236252,
               0.26150545757392113,
               0.2609241129630357,
               0.2602682928212164,
               0.25991312206101863,
               0.2593654605853834,
               0.25852238851510595,
               0.25782888125579845,
               0.2571614802529441,
               0.25660070354351844,
               0.255991550253075,
               0.25551371735088585,
               0.25517654259114814,
               0.2545693401460653,
               0.2536712206265525,
               0.2534200364999514,
               0.2526808487717536],
              'train-Logloss-std': [0.0014160113838082168,
               0.0019577987273252657,
               0.0018628249917544144,
               0.0022003418722506165,
               0.0027564765027847027,
               0.003948942768440562,
               0.00442796419477943,
               0.0035886699774214706,
               0.003140422879044003,
               0.002407348454343091,
               0.0023621393411541298,
               0.0020630616445277035,
               0.002321981672952494,
               0.0022885323486074817,
               0.002237003210407247,
               0.002066022689345302,
               0.002118927196098267,
               0.0022392453893274465,
               0.0021690434644581966,
               0.0021609113013727407,
               0.0021333033043588025,
               0.0022823978205646555,
               0.0023630977722035283,
               0.0025367635301227556,
               0.0027700116860935355,
               0.0028520016195022163,
               0.002928783285194485,
               0.002761272627980702,
               0.002579744744466705,
               0.002655417324476927,
               0.0025748687971437383,
               0.0026512515172655783,
               0.0028495726634631675,
               0.002978604958632406,
               0.002917129645589637,
               0.002897282400090961,
               0.0028900471678361623,
               0.002929300453558241,
               0.002639912940326737,
               0.0026712790230320597,
               0.0028817780776433564,
               0.0028065202326183563,
               0.0029146220247877274,
               0.003099711212633058,
               0.0030412380163999213,
               0.0031422435281965337,
               0.003073190051952129,
               0.0023559500359030022,
               0.0025713810153945235,
               0.002910869964674429]})}

In [17]:
classifier = CatBoostClassifier(depth=10,l2_leaf_reg=7,learning_rate=0.1,iterations=50,verbose=True,task_type="GPU")

In [27]:
classifier.fit(train_x, train_y)
y_pred = classifier.predict(test)

0:	learn: 0.5782835	total: 26ms	remaining: 1.27s
1:	learn: 0.4974512	total: 51ms	remaining: 1.22s
2:	learn: 0.4403311	total: 77.8ms	remaining: 1.22s
3:	learn: 0.4010782	total: 103ms	remaining: 1.19s
4:	learn: 0.3734772	total: 129ms	remaining: 1.16s
5:	learn: 0.3524944	total: 153ms	remaining: 1.12s
6:	learn: 0.3366008	total: 175ms	remaining: 1.07s
7:	learn: 0.3234800	total: 195ms	remaining: 1.02s
8:	learn: 0.3139181	total: 218ms	remaining: 991ms
9:	learn: 0.3068403	total: 240ms	remaining: 959ms
10:	learn: 0.3004368	total: 262ms	remaining: 928ms
11:	learn: 0.2948660	total: 281ms	remaining: 890ms
12:	learn: 0.2906459	total: 301ms	remaining: 858ms
13:	learn: 0.2870160	total: 324ms	remaining: 832ms
14:	learn: 0.2837001	total: 344ms	remaining: 802ms
15:	learn: 0.2813862	total: 365ms	remaining: 775ms
16:	learn: 0.2783866	total: 388ms	remaining: 753ms
17:	learn: 0.2761841	total: 409ms	remaining: 726ms
18:	learn: 0.2741549	total: 429ms	remaining: 700ms
19:	learn: 0.2716957	total: 450ms	remaining: 675ms
20:	learn: 0.2698712	total: 474ms	remaining: 654ms
21:	learn: 0.2679437	total: 494ms	remaining: 629ms
22:	learn: 0.2664490	total: 516ms	remaining: 605ms
23:	learn: 0.2651612	total: 536ms	remaining: 581ms
24:	learn: 0.2641087	total: 556ms	remaining: 556ms
25:	learn: 0.2625532	total: 577ms	remaining: 532ms
26:	learn: 0.2609921	total: 599ms	remaining: 510ms
27:	learn: 0.2595797	total: 622ms	remaining: 489ms
28:	learn: 0.2589419	total: 642ms	remaining: 465ms
29:	learn: 0.2574232	total: 664ms	remaining: 443ms
30:	learn: 0.2562423	total: 685ms	remaining: 420ms
31:	learn: 0.2553953	total: 705ms	remaining: 396ms
32:	learn: 0.2546603	total: 726ms	remaining: 374ms
33:	learn: 0.2533488	total: 746ms	remaining: 351ms
34:	learn: 0.2524732	total: 768ms	remaining: 329ms
35:	learn: 0.2513779	total: 790ms	remaining: 307ms
36:	learn: 0.2506076	total: 811ms	remaining: 285ms
37:	learn: 0.2499911	total: 832ms	remaining: 263ms
38:	learn: 0.2494555	total: 852ms	remaining: 240ms
39:	learn: 0.2490267	total: 875ms	remaining: 219ms
40:	learn: 0.2484446	total: 896ms	remaining: 197ms
41:	learn: 0.2473365	total: 917ms	remaining: 175ms
42:	learn: 0.2467299	total: 938ms	remaining: 153ms
43:	learn: 0.2455429	total: 960ms	remaining: 131ms
44:	learn: 0.2450953	total: 981ms	remaining: 109ms
45:	learn: 0.2444763	total: 1s	remaining: 87.1ms
46:	learn: 0.2437777	total: 1.02s	remaining: 65.3ms
47:	learn: 0.2430628	total: 1.04s	remaining: 43.5ms
48:	learn: 0.2425365	total: 1.07s	remaining: 21.8ms
49:	learn: 0.2417633	total: 1.09s	remaining: 0us

In [28]:
test

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,education1,education2,education3,country_group1,...,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,Male,no-working,baeksu
0,3.850148,304133,10,0,0,45,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3.526361,154227,10,0,0,75,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
2,3.433987,158291,13,8614,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3.332205,183155,13,0,0,55,0,1,0,0,...,0,0,1,0,0,0,0,1,0,0
4,3.988984,182543,10,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15076,3.401197,182926,10,15024,0,40,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
15077,3.663562,176101,13,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15078,3.871201,242406,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
15079,3.784190,100584,9,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15080,3.401197,345898,9,0,0,46,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [29]:
y_pred

array([1, 0, 1, ..., 0, 0, 0], dtype=int64)

In [30]:
y_pred.sum()

2960

In [31]:
submission = pd.read_csv('./data/sample_submission.csv')
submission.head()

   id  target
0   0       0
1   1       0
2   2       0
3   3       0
4   4       0

In [32]:
submission['target']=y_pred
submission

          id  target
0          0       1
1          1       0
2          2       1
3          3       0
4          4       0
...      ...     ...
15076  15076       1
15077  15077       1
15078  15078       0
15079  15079       0
15080  15080       0

[15081 rows x 2 columns]

In [33]:
submission.to_csv("./catboost_dummy.csv",index=False)